form {
  position: relative;
}
table td {
  border: 1px solid #d6bebd;
  height: 100px;
  user-select: none;
}
table td .cellcontent-active {
  display: none;
}
table td .destination-active {
  padding: 10px;
  background-color: #54C1F0;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
table td .destination-active:hover .fa {
  display: block;
}
table td .fa {
  position: absolute;
  display: none;
  top: 0px;
  right: 0px;
  color: #fdc199;
}
select {
  padding: 7px;
  margin: 5px;
}
#submit {
  position: absolute;
  top: 90px;
  right: 0px;
}
