<div class="title-table-wrap">
    <div>
        <span class="t-title" style="font-size:46px;">View</span>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div>
        <span class="t-title" style="font-size:62px;">Manage</span>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div>
        <a href='../pages/PlanSchedule.php' style="text-decoration: none;color:#eef0f0;"><span class="t-title"
                style="font-size:86px;"> Scheduling</span></a>
    </div>
    <br>

</div>
<picture style="position:absolute;left:0;top:45px;">
    <source media="(prefers-color-scheme:dark)" style='width:300px;height:300px;'
        srcset="https://user-images.githubusercontent.com/25423296/163456776-7f95b81a-f1ed-45f7-b7ab-8fa810d529fa.png">
    <source media="(prefers-color-scheme: light)" style='width:300px;height:300px;'
        srcset="https://user-images.githubusercontent.com/25423296/163456779-a8556205-d0a5-45e2-ac17-42d089e3c3f8.png">
    <img style='width:300px;height:300px;'
        alt="Shows an illustrated sun in light color mode and a moon with stars in dark color mode."
        src="https://user-images.githubusercontent.com/25423296/163456779-a8556205-d0a5-45e2-ac17-42d089e3c3f8.png">
</picture>