<div class="title-table-wrap">
    <div>
        <span class="t-title" style="font-size:46px;">View</span>
        <br>
        <br>
        <table class="title-table" >
            <tbody>
                <!-- <tr>
                    <td><button onclick="location.href='../pages/index.php'" title="主页">Home Page</button></td>
                    <td><button onclick="location.href='#'" >Schedule for All</button></td>
                    <td><button onclick="location.href='#'">Your Schedule</button></td>
                </tr> -->
            </tbody>
        </table>
        <!-- <br> -->
    </div>

    <div>
        <br>
        <br>
        <span class="t-title" style="font-size:62px;">Manage</span>
        <br>
        <!-- <br> -->
        <table class="title-table">
            <!-- <tbody>
                <tr>
                    <td><button onclick="location.href='../pages/PlanSchedule.php'">Scheduling</button></td>
                </tr>
            </tbody> -->
        </table>
        <br>
        <br>
        <br>
    </div>
    <div>
        <a href='../pages/PlanSchedule.php' style="text-decoration: none;color:#eef0f0;"><span class="t-title" style="font-size:86px;"> Scheduling</span></a>
        <br>
        <!-- <br> -->
        <!-- <table class="title-table">
            <tbody> -->
                <!-- <td><button onclick="location.href='../pages/ServiceRole.php'">Service Role</button></td>
                <td><button onclick="location.href='../pages/ServiceGroup.php'">Service Group</button></td>
                <td><button onclick="location.href='../pages/ServiceHelper.php'">Service Helper</button></td> -->
                </tr>
            <!-- </tbody>
        </table> -->
    </div>

</div>
<picture style="position:absolute;left:0;top:45px;">
    <source media="(prefers-color-scheme:dark)" style='width:300px;height:300px;' srcset="https://user-images.githubusercontent.com/25423296/163456776-7f95b81a-f1ed-45f7-b7ab-8fa810d529fa.png">
    <source media="(prefers-color-scheme: light)" style='width:300px;height:300px;'srcset="https://user-images.githubusercontent.com/25423296/163456779-a8556205-d0a5-45e2-ac17-42d089e3c3f8.png">
    <img style='width:300px;height:300px;' alt="Shows an illustrated sun in light color mode and a moon with stars in dark color mode." src="https://user-images.githubusercontent.com/25423296/163456779-a8556205-d0a5-45e2-ac17-42d089e3c3f8.png">
</picture>