<div class="title-table-wrap">
    <div>
        <span>查看</span>
        <br>
        <br>
        <table class="title-table" border="">
            <tbody>
                <tr>
                    <td><button onclick="location.href='../pages/index.php'">Home Page</button></td>
                    <td><button onclick="location.href='#'">Find Schedule</button></td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>

    <div>
        <br>
        <br>
        <span>规划</span>
        <br>
        <br>
        <table class="title-table" border="">
            <tbody>
                <tr>
                    <td><button onclick="location.href='#'">Scheduling</button></td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <br>
    </div>
    <div>
        <span> 管理</span>
        <br>
        <br>
        <table class="title-table" border="">
            <tbody>
                <td><button onclick="location.href='../pages/ServiceGroup.php'">Service Group</button></td>
                <td><button onclick="location.href='#'">Service Role</button></td>
                <td><button onclick="location.href='#'">Helper</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>